<% layout("/layouts/boilerplate") %>
<body>
  <div class="card">
    <h1 class="card-header">Welcome to Wanderlust</h1>
    <div class="card-body">
      <h5 class="card-title">
        Platform where you can find your favourite places for a vacation
      </h5>

      <a href="/listings" class="btn btn-dark">Click to Explore!</a>
    </div>
  </div>
</body>
